<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <!-- KeyPath is necessary for multi-file components to identify the key file - preferrably versioned. -->
        <ComponentGroup Id="Client" Directory="INSTALLFOLDER">
            <ComponentGroupRef Id="Shared" />
            <Component>
                <File Id="ssh.exe" Name="ssh.exe" KeyPath="yes" />
            </Component>
            <Component>
                <File Id="sftp.exe" Name="sftp.exe" KeyPath="yes" />
            </Component>
            <Component>
                <File Id="ssh_add.exe" Name="ssh-add.exe" KeyPath="yes" />
            </Component>
            <Component>
                <File Id="ssh_keyscan.exe" Name="ssh-keyscan.exe" KeyPath="yes" />
            </Component>
            <Component>
                <File Id="ssh_sk_helper.exe" Name="ssh-sk-helper.exe" KeyPath="yes" />
            </Component>
            <Component>
                <File Id="ssh_pkcs11_helper.exe" Name="ssh-pkcs11-helper.exe" KeyPath="yes" />
            </Component>
            <Component Id="ClientPATH" Guid="F07FFA0C-B5CF-45A3-9013-A7420DDFD654" Condition="ADD_PATH=1">
                <!-- Use same property condition as PowerShell. We can use a shared component GUID here because there should be only one installed on a system. -->
                
                <CreateFolder />
                <Environment Id="ClientPATH" Name="PATH" Value="[INSTALLFOLDER]" Action="set" Part="first" System="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
