<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:firewall="http://wixtoolset.org/schemas/v4/wxs/firewall" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
    <Fragment>
        <!-- Registry search to check if key for RedirectionGuard exists -->
        <Property Id="SSHDREGKEYEXISTS">
            <RegistrySearch Id="SearchSSHDRegKey" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\sshd.exe" Name="MitigationOptions" Type="raw" />
        </Property>

        <!-- KeyPath is necessary for multi-file components to identify the key file - preferrably versioned. -->
        <ComponentGroup Id="Server" Directory="INSTALLFOLDER">
            <ComponentGroupRef Id="Shared" />
            <Component>
                <File Id="sftp_server.exe" Name="sftp-server.exe" KeyPath="yes" />
            </Component>
            <Component>
                <File Id="ssh_shellhost.exe" Name="ssh-shellhost.exe" KeyPath="yes" />
            </Component>
            <Component>
                <File Id="sshd_auth.exe" Name="sshd-auth.exe" KeyPath="yes" />
            </Component>
            <Component>
                <File Id="sshd_session.exe" Name="sshd-session.exe" KeyPath="yes" />
            </Component>
            <Component>
                <File Id="sshd.exe" Name="sshd.exe" KeyPath="yes" />
                <RegistryKey Root="HKLM" Key="SOFTWARE\OpenSSH" ForceCreateOnInstall="yes">
                    <PermissionEx Sddl="O:BAG:SYD:P(A;OICI;KR;;;AU)(A;OICI;KA;;;SY)(A;OICI;KA;;;BA)" />
                    <!-- ssh-agent-associated key should only be created if the Server feature is installed. -->
                    <RegistryKey Key="agent" ForceCreateOnInstall="yes">
                        <PermissionEx Sddl="O:BAG:SYD:P(A;OICI;KA;;;SY)(A;OICI;KA;;;BA)" />
                    </RegistryKey>
                </RegistryKey>
                <ServiceInstall Name="sshd" DisplayName="OpenSSH SSH Server" Description="OpenSSH is a connectivity tool for remote login that uses the SSH protocol. It encrypts all traffic between client and server to eliminate eavesdropping, connection hijacking, and other attacks." Start="auto" Type="ownProcess" Interactive="no" ErrorControl="critical" Vital="yes">
                    <util:ServiceConfig ResetPeriodInDays="1" FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart" />
                </ServiceInstall>
                <ServiceControl Id="ControlSshd" Name="sshd" Start="install" Stop="both" Remove="uninstall" />
                <firewall:FirewallException Id="sshd_allow" Name="OpenSSH SSH Server Preview (sshd)" Description="Inbound rule for OpenSSH SSH Server (sshd)" Program="[#sshd.exe]" Protocol="tcp" Port="22" Scope="any" Profile="private" />
            </Component>
            <Component>
                <File Id="sshd_config_default" Name="sshd_config_default">
                    <PermissionEx Sddl="O:BAG:SYD:PAI(A;;FA;;;SY)(A;;FA;;;BA)" />
                </File>
            </Component>
            <!-- Permanent registry component - will persist through uninstall -->
            <Component Id="SSHDInstallFlagComponent" Permanent="yes" Condition="NOT SSHDREGKEYEXISTS">
                
                    <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\sshd.exe" ForceCreateOnInstall="yes">
                        <RegistryValue Name="MitigationOptions" Type="binary" Value="00000000000000000000000000000000000010" KeyPath="yes" />
                    </RegistryKey>
            </Component>
        </ComponentGroup>

        <!-- Automatically add custom actions if referencing the Server component group. -->
        <SetProperty Id="SetPrivilegesOnSshd" Value="&quot;[SystemFolder]sc.exe&quot; privs sshd SeAssignPrimaryTokenPrivilege/SeTcbPrivilege/SeBackupPrivilege/SeRestorePrivilege/SeImpersonatePrivilege" Sequence="execute" Before="SetPrivilegesOnSshd" />
        <CustomAction Id="SetPrivilegesOnSshd" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="no" BinaryRef="Wix4UtilCA_X86" />
        <InstallExecuteSequence>
            <Custom Action="SetPrivilegesOnSshd" After="InstallServices" Condition="&amp;Server = 3" />
        </InstallExecuteSequence>
    </Fragment>
</Wix>
