<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
    <Fragment>
        <!-- Registry search to check if key for RedirectionGuard exists -->
        <Property Id="AGENTREGKEYEXISTS">
            <RegistrySearch Id="SearchAgentRegKey" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\ssh-agent.exe" Name="MitigationOptions" Type="raw" />
        </Property>

        <!-- KeyPath is necessary for multi-file components to identify the key file - preferrably versioned. -->
        <ComponentGroup Id="Shared" Directory="INSTALLFOLDER">
            <Component>
                <File Id="libcrypto.dll" Name="libcrypto.dll" KeyPath="yes" />
            </Component>
            <Component>
                <File Id="moduli" Name="moduli">
                    <PermissionEx Sddl="D:PAI(A;OICI;FA;;;SY)(A;OICI;FA;;;BA)(A;OICI;0x1200a9;;;WD)" />
                </File>
            </Component>
            <Component>
                <File Id="LICENSE.txt" Name="LICENSE.txt" />
            </Component>
            <Component>
                <File Id="NOTICE.txt" Name="NOTICE.txt" />
            </Component>
            <Component>
                <File Id="FixHostFilePermissions.ps1" Name="FixHostFilePermissions.ps1" />
            </Component>
            <Component>
                <File Id="OpenSSHUtils.psd1" Name="OpenSSHUtils.psd1" />
            </Component>
            <Component>
                <File Id="FixUserFilePermissions.ps1" Name="FixUserFilePermissions.ps1" />
            </Component>
            <Component>
                <File Id="OpenSSHUtils.psm1" Name="OpenSSHUtils.psm1" />
            </Component>
            <Component>
                <File Id="scp.exe" Name="scp.exe" KeyPath="yes" />
            </Component>
            <Component>
                <File Id="ssh_keygen.exe" Name="ssh-keygen.exe" KeyPath="yes" />
            </Component>

            <!-- ssh-agent is useful in both client and server scenarios. -->
            <Component>
                <File Id="openssh_events.man" Name="openssh-events.man">
                    <util:EventManifest ResourceFile="[#ssh_agent.exe]" />
                </File>
            </Component>
            <Component>
                <!-- Define the File/@Id to reference in util:EventManifest/@ResourceFile above. -->
                <File Id="ssh_agent.exe" Name="ssh-agent.exe" KeyPath="yes" />
                <ServiceInstall Name="ssh-agent" DisplayName="OpenSSH Authentication Agent" Description="Agent to hold private keys used for public key authentication." Start="auto" Type="ownProcess" Interactive="no" ErrorControl="critical" Vital="yes">
                    <util:ServiceConfig ResetPeriodInDays="1" FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart" />
                    <PermissionEx Sddl="D:(A;;CCLCSWRPWPDTLOCRRC;;;SY)(A;;CCDCLCSWRPWPDTLOCRSDRCWDWO;;;BA)(A;;CCLCSWLOCRRC;;;IU)(A;;CCLCSWLOCRRC;;;SU)(A;;RP;;;AU)" />
                </ServiceInstall>
                <ServiceControl Id="ControlSshAgent" Name="ssh-agent" Start="install" Stop="both" Remove="uninstall" />
            </Component>
            <!-- Permanent registry component - will persist through uninstall -->
            <Component Id="AgentInstallFlagComponent" Permanent="yes" Condition="NOT AGENTREGKEYEXISTS">
                
                    <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\ssh-agent.exe" ForceCreateOnInstall="yes">
                        <RegistryValue Name="MitigationOptions" Type="binary" Value="00000000000000000000000000000000000010" KeyPath="yes" />
                    </RegistryKey>
            </Component>
        </ComponentGroup>

        <!-- Automatically add custom actions if referencing the Shared component group. -->
        <SetProperty Id="SetPrivilegesOnSshAgent" Value="&quot;[SystemFolder]sc.exe&quot; privs ssh-agent SeAssignPrimaryTokenPrivilege/SeTcbPrivilege/SeBackupPrivilege/SeRestorePrivilege/SeImpersonatePrivilege" Sequence="execute" Before="SetPrivilegesOnSshAgent" />
        <CustomAction Id="SetPrivilegesOnSshAgent" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="no" BinaryRef="Wix4UtilCA_X86" />
        <InstallExecuteSequence>
            <Custom Action="SetPrivilegesOnSshAgent" After="InstallServices" Condition="&amp;Server = 3" />
        </InstallExecuteSequence>
    </Fragment>
</Wix>
