*~
Makefile
buildpkg.sh
config.h
config.log
config.status
openbsd-compat/Makefile
openbsd-compat/regress/Makefile
openbsd-compat/include
openssh.xml
opensshd.init
survey.sh
**/*.o
**/*.lo
**/*.so
**/*.dylib
**/*.dll
**/*.out
**/*.a
**/.*.swp
autom4te.cache/
scp
sftp
sftp-server
ssh
ssh-add
ssh-agent
ssh-keygen
ssh-keyscan
ssh-keysign
ssh-pkcs11-helper
ssh-sk-helper
sshd
sshd-session
sshd-auth
!regress/misc/**/Makefile
!regress/unittests/**/Makefile
tags

tests/temp/

# Win32 build artifacts
bin/
contrib/win32/install/bin/
contrib/win32/install/obj/
contrib/win32/openssh/lib/
contrib/win32/openssh/x64/
contrib/win32/openssh/vcpkg_installed/
contrib/win32/openssh/*.log
